---
import Connect from "@/components/Connect";
import Layout from "../layouts/Layout.astro";
import "../styles/globals.css";
import ProjectsPage from "@/components/Projects.astro";
---

<Layout class="" title="Projects">
  <div class="p-4">
    <ProjectsPage/>
    <Connect />
</div>
</Layout>
