---
import { Certifications } from "./Certifications";
import { Skills } from "./Skills";


---

<div class="p-4">
	<section class="flex items-center justify-between mb-10">
		<div>
			<img
				src="../../public/hemmem.jpg"
				loading="lazy"
				class="rounded-full w-32"
			/>
		</div>
		<div class="flex flex-col space-y-4 items-start">
		</div>
	</section>
	<h1 class="text-3xl font-bold">Assalamu Alaikum, I’m Hemmem 👋</h1>
	<br />
	<div class="text-gray-800 dark:text-gray-300 text-justify">
		<p class="text-base font-mono ">
			I’m an AI developer with robust backend expertise, driven by a
			passion for solving complex problems using cutting-edge
			technologies. I am a solution-oriented learner, I learn as much as I
			need to get the job done.
			<br />
			<br />
			<span class="font-semibold"
				>Welcome to my personal space, where I share my projects and
				write about exciting topics.</span
			>
		</p>
	</div>
	<Skills client:load />
	<Certifications client:load />
</div>
