---
import Footer from "@/components/Footer.astro";
import NavBar from "../components/NavBar.jsx";
import SpeedInsights from "@vercel/speed-insights/astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
  </head>
  <body class="font-mono min-h-screen flex flex-col max-w-3xl mx-auto">
    <SpeedInsights />
    <div class="sticky top-0 z-10 bg-white/50 backdrop-blur-xl">
      <NavBar client:visible />
    </div>

    <div class="flex-grow">
      <slot />
    </div>
    <Footer class="" />
  </body>
</html>
