---
import NavBar from "../components/NavBar.jsx";
import { BrowserRouter, Routes, Route } from "react-router-dom";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
	</head>
	<body class="">
		<div class="sticky top-0 z-10 bg-white/50 backdrop-blur-xl">
			<NavBar client:visible />
		</div>
		<div class="max-w-3xl mx-auto">
		<slot />
	</div>
	</body>
</html>
